.grow {
  text-align: center;
  @include size(100%, 100vh);
  @include flex() {
    flex-direction: column;
  };
  @include laptop() {
    flex-direction: row-reverse;
  };
  
  .image {
    margin-bottom: 5rem;
    @include size(100%, auto);
    @include laptop() {
      width: 50%;
    };
  }

  .content {
    @include laptop() {
      width: 50%;
      text-align: left;
    };

    .title {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      @include laptop() {
        font-size: 4rem;
      };
    }
    
    .text {
      font-size: 1.6rem;
      @include laptop() {
        width: 90%;
      };
    }
  }
}