// FONTS
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

// COLORS
$white: #ffffff;
$pink: #ff52bf;
$light-pink: #ff8fd8;
$light-red: #ff4242;
$very-dark-cyan: #00252e;
$very-pale-blue: #566a85;
$very-pale-lightblue: #f6fbff;

// Z-INDEX
$low: -1;
$medium: 10;
$high: 100;